# Virtual environment
venv/
gtenv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask environment files
.flaskenv
.env

# Logs and database
instance/
*.log
*.sqlite3

# IDE & OS-specific files
.vscode/
*.swp
.DS_Store
Thumbs.db
